.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 12rem;
}

.Title {
  font-family: 'Anton', sans-serif;
  font-size: 4.2rem;
  color: var(--secondary-color);
}
